<%- include("../partials/header") %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit <%= hotspot.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/hotspots/<%= hotspot._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="hotspot[name]" value="<%= hotspot.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="hotspot[range]" value="<%= hotspot.range %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="hotspot[latitude]" value="<%= hotspot.latitude %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="hotspot[longitude]" value="<%= hotspot.longitude %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="hotspot[source]" value="<%= hotspot.source %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="hotspot[verified]" value="<%= hotspot.verified %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/hotspots">Go Back</a>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>

